//- +e('strong', 'This will appear 10 times')
//-   p This will appear 10 times
mixin e(element, text)
	- var element = typeof element != "undefined" ? element : 'div'
	- element = element != "" ? element : 'div'
	#{element}&attributes(attributes)= text
		block

//- Pre mixin
//- @mixin +pre(class)
//- @param {string} cls: class name
mixin pre(cls)
	unless cls
		- cls = ''
	pre(class=cls)
		code
			block

//- close mixin
//- @mixin +close(dismiss)
//- @param {string} dismiss: ex - alert, modal
mixin close(dismiss)
	unless dismiss
		- var dismiss = ''
	button.close(type='button', data-dismiss=dismiss aria-label='Close')
		span(aria-hidden='true') ×

//- embed mixin
//- @mixin +embed()
//- @param {string} _src: link of media
//- @param {string} ratios: ratio of embed
mixin embed(_src, ratios)
	unless !_src
	.embed-responsive(class=`embed-responsive-${ratios}`)
		iframe.embed-responsive-item(src=_src, allowfullscreen='')

mixin embed-21by9(_src)
	+embed(_src, '21by9')
mixin embed-16by9(_src)
	+embed(_src, '16by9')
mixin embed-4by3(_src)
	+embed(_src, '4by3')
mixin embed-1by1(_src)
	+embed(_src, '1by1')

mixin blockquote(text,footer,author,style)
	- var text = text || ''
	- var style = style || ''
	- var footer = footer || ''
	- var author = author || ''
	blockquote.blockquote(class=style)
		!= text
		block
		if(footer !=='' || author !=='' )
			footer.blockquote-footer!= footer + ' '
				cite(title=author)!= author

mixin blockquote-center(text,footer,author,style)
	- var style = ' ' + style || ''
	+blockquote(text,footer,author,'text-center' + style)

mixin blockquote-right(text,footer,author,style)
	- var style = ' ' + style || ''
	+blockquote(text,footer,author,'text-right' + style)
	
//SERVICES PAGE COMPONENTS
mixin services_list_item(title, iconClass,side)
	.media.service
		///left side
		if side == 'left'
			.media-body
				h4.media-heading #[=title]
				p Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
			.media-right.media-middle
				i.fa(class=iconClass)
		else
			.media-left.media-middle
				i.fa(class=iconClass)
			.media-body
				h4.media-heading #[=title]
				p Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

mixin services_features_list(icon, href, title, active)
	if (active == "true")
		li(role='presentation')
			// feature tab menu #1
			a.active.show(href=href, role="tab", data-toggle="tab", aria-selected="true")
				span.fa(class=icon)
				| #[=title]
	else
		li(role='presentation')
			// feature tab menu #1
			a(href=href, aria-controls='f1', role='tab', data-toggle='tab')
				span.fa(class=icon)
				| #[=title]
mixin services_features_tab_item(id,title,urlImage,state)
	.tab-pane(role='tabpanel', id=id, class=state=="true"?"active":"")
		h4 #[=title]
		p
		| Vel donec et scelerisque vestibulum. Condimentum aliquam, mollit magna velit nec, tempor cursus vitae sit aliquet neque purus. Ultrices lacus proin conubia dictum tempus, tempor pede vitae faucibus, sem auctor, molestie diam dictum aliquam. Dolor leo, ridiculus est ut cubilia nec, fermentum arcu praesent.
		.img-bg.img-responsive(style=`background-image:url('${urlImage}')`)
			img(src=urlImage, alt='Image not found')

mixin services_products_item(className, urlImg,side)
	if side == "top"
		.col-xs-12.col-sm-6.col-md-3.col-lg-3.nopadding(class=className)
			.box-img
				.item
					.item-img
						.img-bg(style=`background-image:url("${urlImg}")`)
							img(src=urlImg, alt="Image not found")
							.bg-hover
	else
		.col-xs-12.col-sm-6.col-md-3.nopadding(class=className)
			.box-img
				.item
					.item-img
						.img-bg(style=`background-image:url("${urlImg}")`)
							img(src=urlImg, alt="Image not found")
							.bg-hover